{% load static %}
<div id="menu-wrap" class="cbp-af-header black-menu-background-1st-trans menu-fixed-padding menu-shadow">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavMenuMain" aria-controls="navbarNavMenuMain" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="">
                        <img src="{% static 'img/logo.png' %}" alt="{% url 'musics:home' %}" class="">
                    </a>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavMenuMain">
							<ul class="navbar-nav">
                            {% load socialaccount %}
                            {% if user.is_authenticated %}
                            <li class="nav-item mega-menu">
                                <a class="nav-link text-success">Вы вошли как: {{ user.username }}</a>
                            </li>
                            <li class="nav-item mega-menu">
                                <form method="post" action="{% url 'ajax:account_logout' %}">
                                  {% csrf_token %}
                                  <button class="btn btn-primary btn-simple btn-sm btn-round" type="submit">Выйти <i class="funky-ui-icon icon-Right"></i></button>
                                </form>
                            </li>
                                {% else %}
                            <li class="nav-item dropdown icons-item-menu">
                                <a class="nav-link btn btn-primary btn-simple btn-sm btn-round" href="#" id="navbarDropdownMenuLink-shop" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Войти <i class="funky-ui-icon icon-Left"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink-shop">
                                    <a class="btn btn-block a-nav btn-social btn-vk" href="{% provider_login_url "vk" %}">
                                        <span class="fa fa-vk"></span> Войте через VK
                                    </a>
                                    <a class="btn btn-block btn-social a-nav btn-facebook" href="{% provider_login_url "facebook" %}">
                                        <span class="fa fa-facebook"></span> Войте через Facebook
                                    </a>
                                    <a class="btn btn-block btn-social a-nav btn-google" href="{% provider_login_url "google" %}">
                                        <span class="fa fa-google"></span> Войте через Google
                                    </a>
                                    <a class="btn btn-block btn-social a-nav btn-twitter" href="{% provider_login_url "mailru" %}">
                                        <span class="fa fa-mail-forward"></span> Войте через Mail.ru
                                    </a>
                                </div>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

