{% load static %}
<div id="menu-wrap" class="cbp-af-header black-menu-background-1st-trans menu-fixed-padding menu-shadow">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse bg-faded">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavMenuMain" aria-controls="navbarNavMenuMain" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="">
                        <img src="{% static 'img/logo.png' %}" alt="{% url 'musics:home' %}" class="">
                    </a>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarNavMenuMain">
							<ul class="navbar-nav">

                                <li class="nav-item">
                                    <a class="nav-link btn btn-primary btn-simple btn-sm btn-round" href="tel:+77770003380">
                                        +77770003380
                                    </a>
                                </li>
                            {% if request.user.is_authenticated %}
                            <li class="nav-item mega-menu">
                                <a class="nav-link text-success">Вы вошли как: {{ request.user.username }}</a>
                            </li>
                            <li class="nav-item mega-menu">
                                <a href="{% url 'account:account_logout' %}">
                                  <button class="btn btn-primary btn-simple btn-sm btn-round" type="button">Выйти <i class="funky-ui-icon icon-Right"></i></button>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>

