{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}

{% endblock %}
{% block content %}

<!-- Hero Block
	================================================== -->

	<div class="section full-height">
		<div class="parallax" style="background-image: url('{% static 'img/parallax-hero-3.jpg' %}')"></div>
		<div class="grey-fade-over"></div>
		<div class="hero-center-wrap move-bottom z-bigger">
			<div class="container color-white hero-text big-text text-center parallax-fade-top">
				<div class="row">
					<div class="col-xl-12 mg-auto">
						<p style="margin-bottom: 0px">7 декабря в городе Алматы <br> В ледовом дворце «Алматы Арена» состоится 3-я ежегодная<br>
                            Национальная премия</p>
                        <div class="col-12 mg-auto">
                            <img class="center img-col-12" src="{% static 'NMA1.png' %}" alt="">
                        </div>
                        <p>Концерт с участием звезд казахстанской и зарубежной эстрады</p>
                        <a href="https://ticketon.kz/event/zhyl-tandauy-2018" class="btn btn-primary btn-round btn-long mt-5 scroll" >Купить билет</a>
						<a href="#scroll-top" class="btn btn-flickr btn-round btn-long mt-5 scroll" >Проголосовать</a>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Авторизация</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true"></span>
            </button>
          </div>
          <div class="modal-body">
             <h5>Пожалуйста авторизуйтесь, что бы проголосовать за любимого участника!</h5>
          </div>
          <div class="modal-footer">
            {% load socialaccount %}
            <a class="btn   btn-social-icon btn-vk" href="{% provider_login_url "vk" %}">
                <span class="fa fa-vk"></span>
            </a>
            <a class="btn  btn-social-icon btn-facebook" href="{% provider_login_url "facebook" %}">
                <span class="fa fa-facebook"></span>
            </a>
            <a class="btn  btn-social-icon btn-google" href="{% provider_login_url "google" %}">
                <span class="fa fa-google"></span>
            </a>
            <a class="btn  btn-social-icon btn-twitter" href="{% provider_login_url "mailru" %}">
                <span class="fa fa-mail-forward"></span>
            </a>
          </div>
        </div>
      </div>
    </div>

	<div class="section padding-top-bottom background-grey" id="scroll-top">
		<div class="container">
			<div class="row justify-content-center">
                {% for music in music_trakss %}
                    <div class="col-12">
                        <div class="row">
                            <div class="col-1 text-center counter-flo">
                                {% if countpage %}
                                {{ countpage|add:forloop.counter0 }}
                                {% else %}
                                     {{ forloop.counter }}
                                {% endif %}
                            </div>
                            <div class="col-1 text-center">
                                {% if music.image.url|length != 0 %}
                                    <img src="{{ music.image|thumbnail_url:'avatar' }}" alt="" class="img-sm-lx">
                                    {% else %}
                                     <img src="{% static 'logo1.png' %}" alt="" class="img-sm-lx">
                                {% endif %}
                            </div>
                            <div class="col-3 text-center"><h5 class="mt-md-2">{{ music.name }}</h5></div>
                            <div class="col-5 text-center"><audio controls src="{{ music.music.url }}"></audio></div>

                            <div class="col-2 text-center pt-xl-2 pt-md-2">
                                {% if user.is_authenticated %}
                                <button class="btn btn-flickr btn-round btn-sm " data-id="{{ music.id }}" data-type="musictrack" data-action="like" title="Нравится">Проголосовать
                                   <i class="fa fa-heart lents"></i>
                                      <span data-count="like" style="font-size: 17px;">{{ music.votes.likes.count }}</span>
                                  </button>
                                {% else %}
                                <button type="button" class="btn btn-primary btn-round btn-sm" data-toggle="modal" data-target="#myModal">
                                  Проголосовать
                                    <i class="fa fa-heart lents"></i>
                                    <span>{{ music.votes.likes.count }}</span>
                                </button>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                    </div>
                {% endfor %}
                <div class="col-6 center">
                    <hr>
                    <nav aria-label="Page navigation example">
                        <ul id="pagination1" class="pagination danger center">
                            {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ pag }}{{ page_obj.previous_page_number }}" aria-label="Previous">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                                </a>
                            </li>
                               {% else %}
                                <li></li>
                            {% endif %}
                            {% for pag in page_obj.paginator.page_range %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ pag }}">{{ pag }}</a>
                            </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ pag }}{{ page_obj.next_page_number }}" aria-label="Next">
                                    <span aria-hidden="true"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                                </a>
                            </li>
                            {% else %}
                                <li></li>
                            {% endif %}
                        </ul>
                    </nav>
                    <hr>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block script %}
    <script>


</script>
{% endblock %}