{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block meta %}
Hitparad - «Jyl Tandayy» - ұлттық музыкалық жүлде»
{% endblock %}
{% block keywords %}
Hitparad - «Jyl Tandayy» - ұлттық музыкалық жүлде»
{% endblock %}

{% block content %}

<!-- Hero Block
	================================================== -->
	<div class="section full-height">
		<div class="parallax desc_mobile" style="background-image: url('{% static 'img/parallax-hero-3.jpg' %}')"></div>
		<div class="grey-fade-over"></div>
		<div class="hero-center-wrap move-bottom z-bigger">
			<div class="container color-white hero-text big-text text-center parallax-fade-top">
				<div class="row">
					<div class="col-xl-12 mg-auto">
{#						<p style="margin-bottom: 0px">1 декабря в городе Алматы <br> В ледовом дворце «Алматы Арена» состоится 3-я ежегодная<br>#}
{#                            Национальная премия</p>#}
                        <div class="col-12 mg-auto">
                            <img class="center img_100vw img-col-12" src="{% static 'NMA1.png' %}" alt="" style="width: 85% !important;">
                        </div>
{#                        <h2 style="color: #6DC235; font-weight: 500; font-size: 4.5rem;" class="pricing-price">Идет подсчет голосов!</h2>#}
{#                        <p>Концерт с участием звезд казахстанской и зарубежной эстрады</p>#}
{#                        <a href="https://ticketon.kz/event/zhyl-tandauy-2018" class="btn btn-primary btn-round btn-long scroll" >Купить билет</a>#}
					</div>
                    <div class="col-12 mg-auto">
                        <!--<p class="pt-2">Скоро открытие</p>-->
                         <img class="img_80vw" src="{% static 'logos4.png' %}" alt="" style="width: 70%; padding-bottom: 0px">
                    </div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}
{% block script %}
    <script>


</script>
{% endblock %}
