{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}

{% endblock %}
{% block content %}
<!-- Primary Page Layout
	================================================== -->

	<!-- Hero Slider Block
	================================================== -->

	<div class="section big-height">
		<div class="parallax" style="background-image: url('{% static 'img/parallax-hero-3.jpg' %}')"></div>
        <div class="hero-center-wrap move-bottom z-bigger">
			<div class="container color-white hero-text big-text text-center parallax-fade-top" style="top: 0px; opacity: 1;">
				<div class="row">
					<div class="col-md-12 mg-auto">
{#						<h1 class="color-white mb-xl-5 center">Жыл тандауы</h1>#}
                        <img class="center" src="{% static 'NMA.png' %}" alt="" style="text-align: center; width: 100%">
					</div>
				</div>
			</div>
		</div>
    </div>
    <div class="section padding-top-bottom background-white over-hide" id="scroll-top">
        <div class="container z-bigger">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="main-title text-center">
                        <h3>Проголосуйте за любимого участника</h3>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="col-lg-8">

                    <section class="audio-player">
                        <div class="">
                          <div class="card-body">
                            <div class="row align-items-center mt-4 mb-3 mx-0">
                              <i id="play-button"class="large material-icons play-pause text-primary mr-2" aria-hidden="true">play_circle_outline</i>
                              <i id="pause-button"class="large material-icons play-pause d-none text-primary mr-2" aria-hidden="true">pause_circle_outline</i>
                              <i id="next-button"class="large material-icons text-primary ml-2 mr-3" aria-hidden="true">skip_next</i>
                              <div class="col ml-auto rounded-circle  pl-5">
                                <img id="thumbnail" class="img-fluid rounded-circle" src="{% static 'img/logo.png' %}" alt="">
                              </div>
                            </div>
                            <div class="p-0 m-0" id="now-playing">
                              <p class="font-italic mb-0 pl-3">Сейчас играет: </p>
                              <div class="row lead pl-3" id="title"></div>
                            </div>
                            <div class="progress-bar progress col-12 mb-3">
                            </div>
                          </div>
                          <ul class="playlist list-group list-group-flush">
                            {% for music in music_trakss %}
                            <li audio_url="{{ music.music.url }}"
                            img_url="{{ music.image.url }}"
                            class="active list-group-item playlist-item">
                                <div class="col-12 col-lg-6 col-md-6">
                                   {{ music.name }}
                                </div>

                                <div class="col-12 col-lg-4 col-md-4 right_list1 " data-id="{{ music.id }}" data-type="musictrack" data-action="like" title="Нравится">
                                    <i class="fa fa-heart lents"></i>
                                    <span data-count="like" style="font-size: 17px;">{{ music.votes.likes.count }} Голосов</span>
                                </div>


                            </li>
                           {% endfor %}
                          </ul>
                      </div>
                      <audio id="audio-player" class="d-none" src="" type="audio/mp3" controls="controls"></audio>
                    </section>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
{% block script %}
    <script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    $(function () {
        $.ajaxSetup({
            headers: { "X-CSRFToken": getCookie("csrftoken") }
        });
    });

    function like() {
        var like = $(this);
        var type = like.data('type');
        var pk = like.data('id');
        var action = like.data('action');
        var dislike = like.next();

        $.ajax({
            url : "/api/" + type + "/" + pk + "/" + action + "/",
            type : 'POST',
            data : {'obj' : pk},
            success : function (json) {
                like.find("[data-count='like']").text(json.like_count);
            }
    });

    return false;
    }

    // Подключение обработчиков
    $(function() {
        $('[data-action="like"]').click(like);
    });

    </script>
{% endblock %}