{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}

{% endblock %}
{% block content %}
<!-- Primary Page Layout
	================================================== -->

	<!-- Hero Slider Block
	================================================== -->

	<div class="section big-height">
		<div class="parallax" style="background-image: url('{% static 'img/parallax-hero-3.jpg' %}')"></div>
		<div class="light-fade-over-2"></div>
		<div class="hero-center-wrap z-bigger">
			<div class="container hero-text parallax-fade-top">
				<div class="row">
					<div class="col-md-12">
						<h2 class="typed">I'm <span id="typed-1"></span></h2>
						<div class="subtext mt-3">good design must primarily serve people</div>
						<a href="#scroll-top" class="btn btn-primary btn-simple btn-round btn-long mt-5 scroll" >my portfolio</a>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Services & Call To Action Block
	================================================== -->

	<div class="section padding-top-bottom background-white over-hide" id="scroll-top">
		<div class="big-fade-title on-light text-center">welcome</div>
		<div class="container z-bigger">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="main-title text-center">
						<div class="main-subtitle-top mb-4">welcome</div>
						<h3>We Take Pride In Delivering Only The Best.</h3>
						<div class="main-subtitle-bottom mt-3">we do magic</div>
					</div>
				</div>
				<div class="clear"></div>
                <div class="col-lg-8">
                    <h4 class="text-success text-center pb-2">Жылтандау</h4>
                    <div class="tabs-back bg-tab-white">
						<ul class="nav nav-tabs with-border text-center justify-content-center" role="tablist">
                            {% for category in category_list %}
                            {% if forloop.first %}
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab{{ category.id }}" role="tab"><i class="funky-ui-icon icon-Cloud-Moon"></i>{{ category.name }}</a>
							</li>
                             {% else %}
                             <li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab{{ category.id }}" role="tab"><i class="funky-ui-icon icon-Cloud-Moon"></i>{{ category.name }}</a>
							</li>
                             {% endif %}
                            {% endfor %}
						</ul>

                            <!-- Tab panes -->
                            <div class="tab-content text-center">
                                {% for cat in category %}
                                    {% if forloop.first %}
                                        <div class="tab-pane fade show active" id="tab{{ cat.id }}" role="tabpanel">
                                            <h6>{{ cat.name }}</h6>
                                            {% for music in cat.music_trakss %}
                                            <div class="pt-2">
                                                <div id="fap" class="row" style="border: 1px solid #DDE2E6 !important;">
                                                    <div class="col-8">
                                                        <p class="pt-3">Ndsfsdf</p>
                                                    </div>
                                                    <div class="col-4">
                                                        <div class="pt-3 text-success" data-id="{{ music.id }}" data-type="musictrack" data-action="like" title="Нравится">Голос
                                                            <i class="fa fa-heart right"></i>
                                                            <span data-count="like" style="font-size: 17px;"> {{ music.votes.likes.count }}</span>
                                                        </div>
{#                                                        <p class="pt-3"><i data-id="{{ music.id }}" data-type="musictrack" data-action="like" class="fa fa-heart"></i><span data-count="like">{{ music.votes.likes.count }}</span></p>#}
                                                    </div>
                                                    <audio preload="auto" controls>
                                                        <source src="{{ music.music.url }}">
                                                    </audio>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    {% else %}
                                        <div class="tab-pane fade show" id="tab{{ cat.id }}" role="tabpanel">
                                            <h6>{{ cat.name }}</h6>
                                            {% for music in cat.music_trakss %}
                                            <div class="pt-2">
                                                <div id="fap" class="row" style="border: 1px solid #DDE2E6 !important;">
                                                    <div class="col-8">
                                                        <p class="pt-3">Ndsfsdf</p>
                                                    </div>
                                                    <div class="pt-3 text-success" data-id="{{ music.id }}" data-type="musictrack" data-action="like" title="Нравится">Голос
                                                        <i class="fa fa-heart right"></i>
                                                        <span data-count="like" style="font-size: 17px;"> {{ music.votes.likes.count }}</span>
                                                    </div>
                                                    <audio preload="auto" controls>
                                                        <source src="{{ music.music.url }}">
                                                    </audio>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
					</div>
				<div class="col-lg-4 text-center">
                    <h4 class="text-success pb-2">Cәлем ұлы дала</h4>
                    {% for music in music_list %}
					<div class="services-box-3 bigger-icon text-center" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
						<iframe width="200" height="100" src="https://www.youtube-nocookie.com/embed/{{ music.music }}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                        <p class="" style="margin-left: 0px;">{{ forloop.counter }}: {{ music.name }}</p>
					</div>
                    {% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block script %}
    <script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    $(function () {
        $.ajaxSetup({
            headers: { "X-CSRFToken": getCookie("csrftoken") }
        });
    });

    function like() {
        var like = $(this);
        var type = like.data('type');
        var pk = like.data('id');
        var action = like.data('action');
        var dislike = like.next();

        $.ajax({
            url : "/api/" + type + "/" + pk + "/" + action + "/",
            type : 'POST',
            data : {'obj' : pk},
            success : function (json) {
                like.find("[data-count='like']").text(json.like_count);
            }
    });

    return false;
    }

    // Подключение обработчиков
    $(function() {
        $('[data-action="like"]').click(like);
    });

    </script>
{#    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
    <script type="text/javascript" src="{% static 'js/myjs/audioplayer.js' %}"></script>
    <script>
        $(function() {
            $('audio').audioPlayer();
        });

    </script>
    <script type="text/javascript" src="{% static 'js/custom/custom-personal-portfolio.js' %}"></script>
{% endblock %}