{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
Голосование
{% endblock %}
{% block content %}
<div class="section" id="home">
    <div class="section padding-top-bottom background-dark over-hide">
        <div class="container">
            <div class="row">
                <div class="clear"></div>
            </div>
        </div>
    </div>

    <!-- Hero Block
    ================================================== -->
{#    #}
{#    <div class="section full-height over-hide background-dark">	#}
{#        <div class="hero-slider-wrap">#}
{#            <div class="customNavigation hero-sinc-1-2">#}
{#                <a class="prev-hero-sync-1"><i class="fa fa-long-arrow-left"></i></a>#}
{#                <a class="next-hero-sync-1"><i class="fa fa-long-arrow-right"></i></a>#}
{#            </div>		#}
{#            <div id="hero-sync1" class="owl-carousel parallax-fade-top">#}
{#                <div class="item full-height background-image-cover" style="background-image:url('{% static 'img/hero-slide-4.jpg' %}')">#}
{#                    <div class="grey-fade-over"></div>	#}
{#                    <div class="hero-center-wrap move-top-2 z-bigger">#}
{#                        <div class="container text-center">#}
{#                            <div class="row">#}
{#                                <div class="col-md-12 corporate-hero-text">	#}
{#                                    <p>we build great</p>#}
{#                                    <h1 class="color-white mt-4">brands</h1>#}
{#                                </div>#}
{#                            </div>	#}
{#                        </div>#}
{#                    </div>	#}
{#                </div>#}
{#                <div class="item full-height background-image-cover" style="background-image:url('{% static 'img/hero-slide-5.jpg' %}')">#}
{#                    <div class="grey-fade-over"></div>#}
{#                    <div class="hero-center-wrap move-top-2 z-bigger">#}
{#                        <div class="container text-center">#}
{#                            <div class="row">#}
{#                                <div class="col-md-12 corporate-hero-text">	#}
{#                                    <p>focused on</p>#}
{#                                    <h1 class="color-white mt-4">strategy</h1>#}
{#                                </div>#}
{#                            </div>	#}
{#                        </div>#}
{#                    </div>							#}
{#                </div>#}
{#                <div class="item full-height background-image-cover" style="background-image:url('{% static 'img/hero-slide-6.jpg' %}')">#}
{#                    <div class="grey-fade-over"></div>	#}
{#                    <div class="hero-center-wrap move-top-2 z-bigger">#}
{#                        <div class="container text-center">#}
{#                            <div class="row">#}
{#                                <div class="col-md-12 corporate-hero-text">	#}
{#                                    <p>specialized in brand</p>#}
{#                                    <h1 class="color-white mt-4">experience</h1>#}
{#                                </div>#}
{#                            </div>	#}
{#                        </div>#}
{#                    </div>					#}
{#                </div>#}
{#            </div>#}
{##}
{#            <div id="hero-sync2" class="owl-carousel">#}
{#                <div class="item">#}
{#                    <p>01 <span>/</span>we build great</p>	#}
{#                    <h5 class="mt-1"><span>brands</span></h5>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <p>02 <span>/</span>focused on</p>	#}
{#                    <h5 class="mt-1"><span>strategy</span></h5>#}
{#                </div>#}
{#                <div class="item">#}
{#                    <p>03 <span>/</span>specialized in brand</p>#}
{#                    <h5 class="mt-1"><span>experience</span></h5>	#}
{#                </div>#}
{#            </div>#}
{#        </div>	#}
{#        <a href="#scroll-top" class="scroll" ><div class="scroll-down-hero-1"><i class="fa fa-long-arrow-down"></i></div></a>#}
{#    </div>#}
{#</div>	#}

<div class="section" id="about">

    {% for music in music_list %}
    <!-- Video & Call To Action Block
		================================================== -->
        {% if forloop.first %}
    <div class="section padding-top-bottom background-dark over-hide">
        <div class="container">
            <div class="row">
                <div class="clear"></div>
                <div class="col-lg-12 call-box-5 mt-lg-5 mt-xl-0"  style="text-align: center; padding: 0.6rem;" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                    <h4 class="color-white">#{{ forloop.counter }} - {{ music.name }}</h4>
                    <div class="video-section">
                        <figure class="youtube rounded-2 img-raised over-hide">
                            <a href="https://www.youtube-nocookie.com/embed/{{ music.music }}">
                                <img src="{% static 'img/obloshka.jpg' %}" alt="image"  class="rounded-2 over-hide"/>
                            </a>
                        </figure>
                    </div>
                    <div class="col-lg-12 mt-4 mt-lg-0 mt-xl-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <button class="btn btn-primary btn-simple btn-round btn-block" type="button" data-id="{{ music.id }}" data-type="music" data-action="like">
                            Проголосовать - <span data-count="like">{{ music.votes.likes.count}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% else %}

    <div class="section  background-dark over-hide">
            <div class="container">
                <div class="row">
                    <div class="clear"></div>
                    <div class="col-lg-12 call-box-5 mt-lg-5 mt-xl-0"  style="text-align: center; padding: 0.6rem;" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                        <h4 class="color-white">#{{ forloop.counter }} - {{ music.name }}</h4>
                        <div class="video-section">
                            <figure class="youtube rounded-2 img-raised over-hide">
                                <a href="https://www.youtube-nocookie.com/embed/{{ music.music }}">
                                    <img src="{% static 'img/obloshka.jpg' %}" alt="image"  class="rounded-2 over-hide"/>
                                </a>
                            </figure>
                        </div>
                        <div class="col-lg-12 mt-4 mt-lg-0 mt-xl-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">
                            <button class="btn btn-primary btn-simple btn-round btn-block" type="button" data-id="{{ music.id }}" data-type="music" data-action="like">
                                Проголосовать - <span data-count="like">{{ music.votes.likes.count}}</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>
	<div class="section padding-top-bottom background-dark over-hide">
    </div>
    
{% endblock %}

{% block script %}

    <script type="text/javascript">
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function like()
            {
                var like = $(this);
                var type = like.data('type');
                var pk = like.data('id');
                var action = like.data('action');
                var dislike = like.next();

                $.ajax({
                    url : "/" + type + "/" + pk + "/" + 'like' + "/",
                    type : 'POST',
                    headers: { "X-CSRFToken": getCookie("csrftoken")},
                    data : { 'obj' : pk },

                    success : function (json) {
                        like.find("[data-count='like']").text(json.like_count);
                        dislike.find("[data-count='dislike']").text(json.dislike_count);
                    }
                });

                return false;
            }

            function dislike()
            {
                var dislike = $(this);
                var type = dislike.data('type');
                var pk = dislike.data('id');
                var action = dislike.data('action');
                var like = dislike.prev();

                $.ajax({
                    url : "/" + type + "/" + pk + "/" + 'like' + "/",
                    type : 'POST',
                    data : { 'obj' : pk },

                    success : function (json) {
                        dislike.find("[data-count='dislike']").text(json.dislike_count);
                        like.find("[data-count='like']").text(json.like_count);
                    }
                });

                return false;
            }

        // Подключение обработчиков
        $(function() {
            $('[data-action="like"]').click(like);
        });
    </script>
    <script type="text/javascript" src="{% static 'js/custom/custom-op-corporate.js' %}"></script>
{% endblock %}