{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
Дауыс беру
{% endblock %}
{% block content %}
<div class="section" id="home">
    <div class="section background-dark over-hide text-center" style="padding-top: 218px;
padding-bottom: 33px;">
        <div class="container" >
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="color-white" style="text-align: center">Дауыс беру</h1>
                </div>

            </div>
        </div>
    </div>
</div>
 <div class="section background-dark over-hide text-center" id="about">
    <div class="container" >
        <div class="row">
            <div class="col-lg-12 mt-lg-5 mt-xl-0">
                <div id="accordion-1" align="button-kike" class="accordion-style dark" role="tablist" aria-multiselectable="true">
                    {% for music in music_list %}
                    <div class="card">
                        <div class="card-header" role="tab" id="headingOne-{{ music.id }}">
                            <a data-toggle="collapse" data-parent="#accordion-{{ music.id }}" href="#collapseOne-{{ music.id }}" aria-expanded="false" aria-controls="collapseOne" class="collapsed">
                               {{ forloop.counter }}: {{ music.name }}
                            </a>
                        </div>

                        <div id="collapseOne-{{ music.id }}" class="collapse" role="tabpanel" aria-labelledby="headingOne-1" aria-expanded="false" style="">
                            <div class="card-block" >
                                <div class="video-section" style="max-width: 1200px;">
                                    <iframe class=" rounded-2 img-raised over-hide vvvv"  src="https://www.youtube.com/embed/{{ music.music }}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                                <div class="col-lg-12 mt-4 mt-lg-0 mt-xl-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s" style="padding: 6px">

                                    <button id="like" class="btn btn-primary btn-simple btn-round btn-block" type="button" data-id="{{ music.id }}" data-type="music" data-action="like">
                                        Дауыс беру
{#                                        - <span data-count="like">{{ music.votes.likes.count}}</span>#}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                      {% endfor %}

                </div>
            </div>
        </div>
    </div>


{#   #}
{#    {% for music in music_list %}#}
{#        <div class="section  background-dark over-hide">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="clear"></div>#}
{#                    <div class="col-lg-12 call-box-5 mt-lg-5 mt-xl-0"  style="text-align: center; padding: 0.6rem;" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">#}
{#                        <h4 class="color-white">#{{ forloop.counter }}: {{ music.name }}</h4>#}
{#                        <div class="video-section" style="max-width: 1200px;">#}
{#                            <iframe class="youtube rounded-2 img-raised over-hide" width="560" height="315" src="https://www.youtube.com/embed/{{ music.music }}?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>#}
{#                        </div>#}
{#                        <div class="col-lg-12 mt-4 mt-lg-0 mt-xl-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">#}
{##}
{#                            <button id="like" class="btn btn-primary btn-simple btn-round btn-block" type="button" data-id="{{ music.id }}" data-type="music" data-action="like">#}
{#                                Дауыс беру#}
{#                                - <span data-count="like">{{ music.votes.likes.count}}</span>#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <br>#}
{#            </div>#}
{#        </div>#}
{#    {% endfor %}#}




{##}
{#        {% for music in music_list %}#}
{#        <div class="section  background-dark over-hide">#}
{#            <div class="container">#}
{#                <div class="row">#}
{#                    <div class="clear"></div>#}
{#                    <div class="col-lg-12 call-box-5 mt-lg-5 mt-xl-0"  style="text-align: center; padding: 0.6rem;" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">#}
{#                        <h4 class="color-white">#{{ forloop.counter }}: {{ music.name }}</h4>#}
{#                        <div class="video-section" style="max-width: 1200px;">#}
{#                            <figure class="youtube rounded-2 img-raised over-hide">#}
{#                                <a href="https://www.youtube-nocookie.com/embed/{{ music.music }}">#}
{#                                    <img src="{{ music.image|thumbnail_url:'avatar' }}" alt="image"  class="rounded-2 over-hide"/>#}
{#                                </a>#}
{#                            </figure>#}
{#                        </div>#}
{#                        <div class="col-lg-12 mt-4 mt-lg-0 mt-xl-4" data-scroll-reveal="enter bottom move 40px over 0.8s after 0.2s">#}
{##}
{#                            <button id="like" class="btn btn-primary btn-simple btn-round btn-block" type="button" data-id="{{ music.id }}" data-type="music" data-action="like">#}
{#                                Дауыс беру#}
{#                                - <span data-count="like">{{ music.votes.likes.count}}</span>#}
{#                            </button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <br>#}
{#            </div>#}
{#        </div>#}
{#        {% endfor %}#}
    </div>
    <div class="section padding-top-bottom background-dark over-hide">
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function like()
        {
            var like = $(this);
            var type = like.data('type');
            var pk = like.data('id');
            var action = like.data('action');
            var dislike = like.next();

            $.ajax({
                url : "/" + type + "/" + pk + "/" + 'like' + "/",
                type : 'POST',
                headers: { "X-CSRFToken": getCookie("csrftoken")},
                data : { 'obj' : pk },

                success : function (json) {
                    like.find("[data-count='like']").text(json.like_count);
                    dislike.find("[data-count='dislike']").text(json.dislike_count);
                    $(like).html('Сіз дауыс бердіңіз')
                }
            });

            return false;
        }

        function dislike()
        {
            var dislike = $(this);
            var type = dislike.data('type');
            var pk = dislike.data('id');
            var action = dislike.data('action');
            var like = dislike.prev();

            $.ajax({
                url : "/" + type + "/" + pk + "/" + 'like' + "/",
                type : 'POST',
                data : { 'obj' : pk },

                success : function (json) {
                    dislike.find("[data-count='dislike']").text(json.dislike_count);
                    like.find("[data-count='like']").text(json.like_count);

                }
            });

            return false;
        }

    // Подключение обработчиков
    $(function() {
        $('[data-action="like"]').click(like);
    });
</script>
<script type="text/javascript">
{#$(document).ready(function() {#}
{#    $('#like').click(function() {#}
{#        var count = 0;#}
{#        count++;#}
{#        console.log(count);#}
{#        if (count==7){#}
{#            return window.location.href = '{% url 'account:logout' %}';#}
{#        }#}
{#    });#}
{#});#}

var count = 0
$('button')
    .data('counter', 0)
    .click(function() {
        count ++  ;
        alert(count);
        if (count >= 7){
            return window.location.href = '{% url 'account:logout' %}';
        }
});
</script>
 <script type="text/javascript" src="{% static 'js/custom/custom-elements.js' %}"></script>

{#<script type="text/javascript" src="{% static 'js/custom/custom-op-corporate.js' %}"></script>#}
{% endblock %}