{% extends "base.html" %}
{% load static %}
{% block title %}Дауыс беруге қатысу үшін тіркеліңіз{% endblock %}
{% block script1 %}
      <script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
{% block content %}

    <div class="section full-height over-hide">
    <div class="parallax" style="background-image: url('{% static 'img/parallax-login.jpg' %}')"></div>
    <div class="grey-fade-over"></div>
    <div class="hero-center-wrap z-bigger">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 text-center parallax-fade-top">
                    <div class="main-title on-dark text-center mb-0">
                         <h4 style="text-transform: inherit;">Дауыс беруге қатысу үшін тіркеліңіз</h4>
                        {% if form.errors %}
                        <div class="main-subtitle-bottom smaller mt-4">Кешіріңіз! Тіркелу жасау жүзеге аспады!</div>
                        {% else %}
                        <div class="main-subtitle-bottom smaller mt-4">Тіркелуді жасау үшін төмендегі форманы пайдаланыңыз:</div>
                        {% endif %}

                    </div>

                    <form action="" method="post">{% csrf_token %}
                        <div class="subscribe-box-1 dark for-hero mt-3">
                            <input name="username" type="text" placeholder="Логин:" class="form-control" />
                            <small class="form-text text-muted">Міндетті өріс. 150 таңбадан артық емес. Тек әріптер, сандар және символдар @/./+/-/_.</small>
                        </div>
                        <div class="subscribe-box-1 dark for-hero mt-3">
                            <input name="email" type="email" placeholder="Email:" class="form-control" />
                        </div>
                        <div class="clear"></div>
                        <button type="submit" class="btn btn-primary btn-simple btn-round btn-long mt-4 mb-3" >Тіркелуді жасаңыз</button>
                        <br><br>
                         <div class="g-recaptcha" data-sitekey="{{ context }}"></div>
                    </form>
                    <div class="clear"></div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}

    	<script type="text/javascript" src="{% static 'js/custom/custom-login.js' %}"></script>
{% endblock %}