{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% block title %}
<title>
    hitparad.kz - Национальная музыкальная премия «Jyl Tanday-2018”
</title>
{% endblock %}
{% block meta %}
{{ track.name }}
{% endblock %}
{% block keywords %}
   {{ track.name }}
{% endblock %}

{% block content %}
<div class="section padding-top-bottom background-grey" id="scroll-top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="row">
                    <div class="col-1 text-center counter-flo">
                        {{ track.id }}
                    </div>
                    <div class="col-1 text-center">
                        {% if track.image.url|length != 0 %}
                            <img src="{{ track.image|thumbnail_url:'avatar' }}" alt="" class="img-sm-lx">
                            {% else %}
                             <img src="{% static 'logo1.png' %}" alt="" class="img-sm-lx">
                        {% endif %}
                    </div>
                    <div class="col-4 text-center"><h5 class="mt-md-2">{{ track.name }}</h5></div>
                    <div class="col-6 text-center"><audio controls src="{{ track.music.url }}"></audio></div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>
{% endblock %}
